.header {
  height: 50px;
  background-color: #87ceeb;
  padding-left: : 200px;
  font-size: 200px;
  font-weight:700;
  line-height: 50px;
  letter-spacing: 1px;
}

.summary{
  display: flex;
  margin: 20px 200px;
  letter-spacing: 1px;
}

.summary img{
  width: 240px;
  height: 160px;
}

.summary p{
  width: calc(100vh-240px);
  height: 160px;
  font-size:15px;
}

.contents {
  margin: 20px 200px;
  letter-spacing: 1px;
}

.contents p {
  font-size:15px;
  letter-spacing: 1px;
}

.contents h1 {
  border-top: 20px
  font-size:20px;
  font-weight:700;
}

.footer {
  height: 50px;
  background-color: #87ceeb;
}
