.header {
  height: 50px;
  background-color: #87ceeb;
  padding-left: 20px;
ã€€
  font-size: 200px;
  font-weight:700;
  line-height: 50px;
  letter-spacing: 1px;
}

.summary{
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.summary img{
  width: 240px;
  height: 160px;
  border-radius: 5px;
  margin: 10px;
}

.summary p{
  width: 100vh-240ox;
  height: 160px;
  border-radius: 5px;
  margin: 10px;
}

.contents {
  padding: 20px 100px;
  letter-spacing: 1px;
}

.contents p {
  font-size:20px;
  letter-spacing: 1px;
}

.contents h1 {
  font-size:200px;
  font-weight:700;
}

.footer {
  height: 50px;
  background-color: #87ceeb;
}
