.header {
  height: 50px;
  background-color: #87ceeb;
  padding-left: 20px;
　
  font-size:200px;
  font-weight:700;
  line-height: 50px;
  letter-spacing: 1px;
}

.contents {
  padding: 20px 100px;
  letter-spacing: 1px;
}

.contents p {
  font-size:20px;
  letter-spacing: 1px;
}

.contents h1 {
  font-size:200px;
  font-weight:700;
}

.footer {
  height: 50px;
  background-color: #87ceeb;
}
